.sort {
    /* background-color: #3a2b58; */
    background-color: #7c58c0;
    min-height: 100vh;
}

.frame {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 350px;
    margin: 5em 0;
}

.card {
    border-radius: 2em;
    background: #b9b9b9;
    padding: 0 1em;
}

/* .playButtons {
    margin: 1em 0;
} */